
@media screen and (max-width: 2560px)
{

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Regular/raleway.eot");
    src: url("../font/Raleway-Regular/Raleway-Regular.otf");
    src: url("../font/Raleway-Regular/Raleway-Regular.svg");
    src: url("../font/Raleway-Regular/Raleway-Regular.ttf");
    src: url("../font/Raleway-Regular/Raleway-Regular.woff");
}

@font-face {
    font-family: "Raleway-Thin";
    src: url("../font/Raleway-Thin/Raleway-Thin.eot");
    src: url("../font/Raleway-Thin/Raleway-Thin.otf");
    src: url("../font/Raleway-Thin/Raleway-Thin.svg");
    src: url("../font/Raleway-Thin/Raleway-Thin.ttf");
    src: url("../font/Raleway-Thin/Raleway-Thin.woff");
    src: url("../font/Raleway-Thin/Raleway-Thin.woff2");

}
header
{
    text-align: center;
}
body {

    font-family: "Raleway";
    margin: 0;
    overflow-x: hidden;
}

hr {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    font-size: 14px;
}

h1 {
    font-size: 17px;
}

h3 {
    font-size: 15px;
}

h4 {
    font-size: 17px;
    margin-left: 40px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
}

img {
    width: 100%;


}

figure {

    text-align: left;
    margin: 0;

}

footer {
    background-color: #F2F2F2;


}

hr {
    color: #F2F2F2;
    position: relative;
}
.titre__footer
{
    font-size : 15px;
    margin-left: 20%;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.header__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.header__li {
    
    margin-right: 19%;
    padding-right: 13%;
}

.header__img {
    margin-left: 33%;
    width: 80%;
    height: 80px;
}

.header__hebergement {
    color: #0065FC;
    padding-left: 20%;
    padding-right: 20%;
    
}
.header__hebergement:hover
{
    border-top: 3px solid #0065FC;
    padding-top: 33%;
    padding-left: 20%;
    padding-right: 20%;

}

.header__inscription {
    color: #0065FC;
    font-weight: bold;
    margin-right: 50px;
}

.titre {
 
    width: 100%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.fa-map-marker-alt {
    text-align: center;
    background-color: #F2F2F2;
    padding: 10.5px;
    margin-left: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.form {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.bouton {
    background-color: #0065FC;
    color: #ffffff;
    border: #0065FC;
    width: 100px;
    height: 36px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-weight: bold;


}

.submit__mobile {
    display: none;
}

.adresse {
    width: 200px;
    height: 33px;
    border: 1px solid #F2F2F2;
    font-weight: bold;
    padding-left: 10px;
}

.filtre {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    align-items: center;
    margin-top: 2%;

}

.filtre__nav {
    display: flex;
    flex-direction: row;

}

.filtre__ul {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
}

.filtre__li {
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 50px;
    position: relative;
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 34px;
    padding-right: 11px;
    transition: .5s;
}

.filtre__li:hover {
    transform: scale(1.25);
}

.filtre__responsive {
    display: flex;
    flex-direction: row;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 12px;
    border-radius: 50%;
    margin-right: 40px;
    position: absolute;
    top: -2px;
    left: -19px;
}

.fa-info-circle {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.hebergement_populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hebergement {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 12.5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 23px;
    padding-top: 5px;
    line-height: 7px;
    width: 70%;

}

.hebergement__titre {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    line-height: 1px;
    padding-bottom: 12px;

}

.hebergement__plus {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: bold;

}

.hebergement__premier_tier {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hebergement__deuxieme_tier {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hebergement__etoile {
    display: flex;
    flex-direction: row;
    line-height: 20px;
}

.bleu {
    color: #0065FC;
}

.gris {
    color: #F2F2F2;
}

.hebergement__figure {
    overflow: hidden;
    height: 140px;
    margin-right: 10px;
    width: 250px;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 97%;


}

.hebergement__div {
    background-color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 1%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    width: 27%;

}

.populaire {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 25px;
    margin-left: 12.5px;
    padding-bottom: 27px;
    width: 90%;


}

.populaire__ecart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaire__titre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    font-weight: bold;
}

.populaire__figure {
    width: 174px;
    height: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    display: flex;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 7px;

}

.populaire__img {
    width: 100%;

}

.populaire__div {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    margin: 3%;
}

.populaire__texte {
    padding-left: 10px;
}

.populaire__etoile {
    display: flex;
    flex-direction: row;
    margin-top: 59px;
}

.activite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.activite__min {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
.activite__figure--large
{
    display: flex;
    height: 370px;
}
.activite__large
{
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 5px #F2F2F2;
    width: 22%;
}
.img_large
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activite__h3 {
    margin-left: 25px;
    margin-top: 70px;
    margin-bottom: -1px;
}

.activite__figure {
    width: 300px;
    overflow: hidden;
    align-items: center;
    display: flex;
    height: 140px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.activite__div {
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 5px #F2F2F2;

}

.activite__h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.footer {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-top: 20px;
    margin-left: 2%;
 
}

.footer__nav {
    display: flex;
    flex-direction: column;
    margin-right: 15%;

}

.footer__li {
    margin-bottom: 15px;
}
}
@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
        width: 100%;
        margin: 0;
    }

    h1 {
        margin-right: 89px;
    }

    hr {
        display: block;
        background-color: #F2F2F2;
    }

    .header {
       
    margin-right: 0px;
    justify-content: center;

    }

    .header__nav,
    .header__li {
        display: flex;
       
    }

    .header__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 45%;
        margin-bottom: 10px;
        padding-left: 0px;
    }

    .header__inscription {
      
        padding-top: 20%;
        margin-right: 0px;
        padding-right: 0px;
    }

    .header__hebergement {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 15px;
        border-top: 0;
  
    }
    .header__hebergement:hover
    {
        border-top : none;
    }

    .header__img {
        margin-left: 0;
        margin-top: -30%;
        width: 70%;
        height: 80px;
    }
    .ul__inscription
    {
        padding-left: 0px;
    }

    .titre {
        line-height: 15px;

    }

    .bouton {
        display: none;
    }

    .fa-search {

        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
    }

    .submit__mobile {
        display: block;
        position: relative;
    }

    .bouton__mobile {
        display: block;
        position: relative;
        width: 40px;
        height: 37px;
        border: 0px solid #F2F2F2;
        border-radius: 10px;
        background-color: #0065FC;
        margin-left: -15px;

    }

    .adresse {
        border-right: 2px solid transparent;
        width: 200px;
    }

    .filtre {
        display: flex;
        flex-direction: column;

    }

    .filtre__ul {
        display: flex;
        flex-direction: column;
        margin-left: 1px;
        margin-top: 0px;


    }

    .filtre__responsive {
        display: flex;
        flex-direction: row;
    }

    .filtre__li {
        width: 80px;
        margin-bottom: 7px;
    }

    .filtre__titre {
        margin-left: -240px;
    }

    .filtre__nav {
        display: flex;
        flex-direction: column;

    }

    .filtre__familial {
        width: 55px;
    }

    .filtre__animaux {
        width: 125px;
        margin-top: 18px;
    }

    .information {
        margin-right: 23px;
        margin-left: 45px;
        line-height: 0px;

    }

    .fa-info-circle {
        margin-left: 0px;
    }

    .hebergement__titre {
        line-height: 22px;
    }

    .hebergement_populaire {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergement {
        margin-left: 0px;
        background-color: white;
    }

    .hebergement__premier_tier {

        display: flex;
        flex-direction: column;

    }

    .hebergement__deuxieme_tier {
        display: flex;
        flex-direction: column;
    }

    .hebergement__figure {
        margin-right: 0;
        width: 260px;
    }

    .hebergement__boite {

        border: 1px solid #F2F2F2;
        border-radius: 20px;
        box-shadow: ;
        margin-left: 20px;
        box-shadow: 1px 1px 20px 5px #F2F2F2;
        margin-left: 25px;
        width: 260px;
    }

    .hebergement__div {
        width: 280px;
        margin-left: 10%;
    }

    .hebergement__plus {
        margin-left: -25px;
    }

    .hebergement__texte {
        margin-left: 15px;
        padding-bottom: 10px;

    }


    .populaire {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        border-radius: 0px;
        align-items: center;
        width: 100%;
    }

    .populaire__h2 {
        padding-right: 120px;
    }

    .populaire__figure {
        width: 140px;

    }

    .populaire__titre {
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .populaire__div {
        width: 300px;
        margin-left: 1%;
        margin-bottom: 4%;
    }


    .activite {
        display: flex;
        flex-direction: column;

    }
    .activite__large
    {
        width: 260px;
    }
    .activite__figure--large
    {
        height: 160px;
    }
    .activite__div {
        width: 260px;
        margin-left: 15px;
    }

    .activite__figure {
        width: 260px;
    }

    .activite__h2 {
        margin-left: 15px;
    }

    .titre {
        margin-left: 15px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer__nav {
        margin-right: 0px;
    }
    .titre__footer
    {
        margin-left:13%;
    }


}


@media screen and (min-width: 768px) and (max-width: 1049px) {

    body
    {
        overflow-x: hidden;
    }

    h1 {
        font-size: 22px;
        margin-left: 30px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
        margin-left: 30px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 6%;

    }

    .header__img {
        width: 80%;
        height: 100px;
        margin : 0;

    }

    .header__hebergement {
        border-top: 0;
        border-bottom: 3px solid #0065CF;
        padding-bottom: 12px;
        padding-left: 24px;
        padding-right: 5px;

    }
    .header__hebergement:hover
    {
        border-top : none;
    }

    .header__inscription {
        margin-top: 29px;
    }

    .header__ul {
        margin-left: 25px;
        margin-top: 45px;
        border-bottom: 0;

    }

    .header__li {
        padding-right: 50px;
        font-size: 19px;
        margin-bottom: 50px;
    }

    .form {
        display: flex;
        flex-direction: row;
    }

    .fa-map-marker-alt {
        padding: 22px;
        margin-left: 58px;
        margin-top: 10px;
        font-size: 20px;
    }

    .bouton {
        display: block;
        height: 63px;
        width: 150px;
        font-size: 18px;
        margin-top: 10px;
    }

    .adresse {
        width: 350px;
        font-size: 18px;
        height: 59px;
        margin-top: 10px;
    }

    .bouton__mobile {
        display: none;
    }

    .fa-search {
        color: transparent;
    }

    .filtre {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        align-items: center;
        margin-top: 22px;

    }

    .filtre__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;

    }

    .filtre__ul {
        display: flex;
        flex-direction: column;
        margin-left: -40px;
    }

    .filtre__li {
        border-top: 2px solid #F2F2F2;
        border-bottom: 2px solid #F2F2F2;
        border-right: 2px solid #F2F2F2;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-right: 60px;
        position: relative;
        padding-left: 54px;
        align-items: center;
        height: 48px;
        padding-right: 19px;
        transition: .5s;
    }

    .filtre__titre {
        margin-left: 0;
    }

    .filtre__romantique {
        margin-top: 18px;
    }

    .filtre__economique {
        margin-bottom: 25px;
    }

    .filtre__responsive {
        display: flex;
        flex-direction: column;
    }

    .filtre__familial {
        padding-left: 42px;
    }

    .filtre__romantique {
        margin-bottom: 25px;
        align-items: center;
    }

    .filtre__ul {
        margin-top: -2px;
    }

    .fa-money-bill-wave,
    .fa-child,
    .fa-heart,
    .fa-dog {

        padding: 18px;
        font-size: 20px;
        top: -4px;
    }
     .header__hebergement:hover
    {
        display: none;
    }


    .hebergement__titre {
        font-size: 18px;
    }

    .hebergement__figure {
        width: 499px;
        height: 298px;
        box-shadow: 2px 2px 20px 2px #F2F2F2;
        margin: 0;
        height: 278px;
    }

    .hebergement__boite {
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        box-shadow: 2px 2px 20px 2px #F2F2F2;
    }

    .hebergement__texte {
        padding-bottom: 10px;
        padding-left: 10px;
        line-height: 18px;
    }

    .hebergement__h3 {
        margin-left: 10px;
    }

    .hebergement__p {
        margin-left: 10px;
    }

    .hebergement__etoile {
        margin-left: 10px;
    }

    .hebergement_populaire {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergement {
        margin-left: 0px;
        background-color: white;
    }

    .hebergement__premier_tier {

        display: flex;
        flex-direction: column;

    }

    .hebergement__deuxieme_tier {
        display: flex;
        flex-direction: column;
    }
    .hebergement__div
    {
        width: 500px;
        margin-left: 35%;
    }

    .populaire__figure {
        margin-left: 7px;
        width: 200px;
    }

    .populaire__p {
        margin-left: 3px;
    }

    .populaire__titre {
        font-size: 18px;
    }

    .fa-chart-line {
        font-size: 22px;
    }

    .populaire {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        border-radius: 0px;
    }

    .activite {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .activite__h3 {
        font-size: 18px;
        margin-bottom: 35px
    }

    .activite__div {
        width: 500px;
        height: 300px;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    .activite__figure {
        width: 500px;
        height: 250px;
    }
    .activite__figure--large 
    {
        width: 500px;

    }
    .activite__large
    {
        width: 500px;
    }
    .activite__h2 {
        padding-left: 35px;

    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 30px;
    }

    .footer__hebergement {
        margin-left: -138px;
    }

    .footer__assistance {
        margin-left: -128px;
        margin-right: 30px;
    }


}

@media screen and (min-width: 1050px) and (max-width: 1320px) {
    img {
        width: 100%;
    }

    h2 {
        font-size: 13px;

    }

    p {
        font-size: 13px;
    }

    h4 {
        font-size: 14px;
    }

    li {
        font-size: 13px;
    }

    .header__hebergement {
        padding-top: 23%;

    }
    .header__hebergement:hover
    {
        border-top : 2px solid #0065CF;
        padding-top : 36%;
    }

    .ul__inscription {
        padding-left: 0px;
        margin-left: 10%;
    }

    .fa-star {
        font-size: 13px;
    }

    .hebergement__div {
        margin-bottom: 20px;
    }

    .hebergement {
        padding-right: 5px;
        padding-left: 15px;
        margin-right: 0px;
        margin-left: 20px;
        width: 61%;

    }

    .hebergement__premier_tier {
        align-items: center;
        justify-content: space-around;
    }

    .hebergement__deuxieme_tier {
        align-items: center;
        justify-content: space-around;
    }

    .hebergement__figure {
        height: 105px;
    }

    .hebergement_populaire {
        width: 100%;
    }

    h3 {
        font-size: 14px;
    }

    .populaire {
        margin-left: 15px;
        margin-right: 14px;
        width: 98%;

    }

    .populaire__figure {
        margin-left: 7px;
        margin-right: 20px;
        width: 138px;
        height: 125px;
    }

    .populaire__ecart {
        padding-bottom: 5px;
        padding-right: 5px;
    }

    .populaire__etoile {
        margin-top: 40px;
        font-size: 5px;
    }

    .populaire__div {
        width: 300px;
        margin:0;
        margin-bottom: 3%;
        margin-top: 1%;
        margin-left: 4%;

    }

    .activite__figure {
        width: 220px;
        height: 100px;
    }

    .img {
        width: 240px;
    }

    .boite {
        height: 330px;
    }
}